{{%
    Script.Layout = "_layout.html";
}}
<h1 class="content-title">
    <img src="~/_docmonster/icons/{{ Topic.DisplayType }}.png">
    {{ Model.Topic.Title }}
</h1>



<div class="content-body" id="body">
    {{% if(!string.IsNullOrEmpty(Topic.Body)) { }}    
        {{ Model.Helpers.Markdown(Topic.Body) }}
    {{% } }}

    <div class="mb-2">

    {{ Helpers.ChildTopicsTable("","Endpoint")  }}    
    </div>
</div>


{{% if(!string.IsNullOrEmpty(Topic.ClassInfo.Syntax)) { }}
<pre class="syntaxbox" id="syntax">{{ Topic.ClassInfo.Syntax }}</pre>
{{% } }}

{{% if (!string.IsNullOrEmpty(Topic.Remarks)) { }}

    <h3 class="outdent" id="remarks">Remarks</h3>
    {{! Helpers.Markdown(Topic.Remarks) }}
{{% } }}


{{% if(!string.IsNullOrEmpty(Topic.Example))  { }}
    <h3 class="outdent" id="example">Example</h3>
    {{ Helpers.Markdown(Topic.Example) }}
{{% } }}



{{% if (!string.IsNullOrEmpty(Model.Topic.SeeAlso)) { }}
    <h4 class="outdent" id="seealso">See also</h4>
    <div class="see-also-container">
        {{ Helpers.FixupSeeAlsoLinks(Topic.SeeAlso) }}
    </div>
{{% } }}
